:root {
    --primeira-cor: #fff;
    --segunda-cor: #A81B1B;
    --terceira-cor: #CC0300;
    --quarta-cor: #2b2d42;
    --cor-menu: #000;
}
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
/* Menu */
#menunav {
    width: 100%;
    background: var(--primeira-cor);
    position: sticky;
    top: 0;
  }
  .grid a, .grid a:link { color: var(--segunda-cor);}
  /* esconde icone  de menu responsivo */
  #menunav label, #menuicon { display: none;}
  
  /* Horizontal Menu Items */
  #menuitems { display: flex; }
  #menuitems a, #login_menu a {
    width: 25%; /* 100% / 4 itens no menu  = 25% */
    padding: 10px;
    color: var(--cor-menu);
    text-decoration: none;
    text-align: center;
    font-weight: bold;
  }
  #menuitems a:hover {
    background: var(--segunda-cor);
    color: var(--primeira-cor);
  }
  
  /* Para dispositivo com no maximo 768 pixel */
  @media screen and (max-width: 768px){
    /* Mostra icone  de menu responsivo */
    #menunav label { 
      display: inline-block; 
      color: var(--primeira-cor);
      background: var(--terceira-cor);
      font-style: normal;
      font-size: 1.2em;
      padding: 10px;
    }
  
    /* Divida os itens do menu em verticais */
    #menuitems a {
      box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid var(--primeira-cor);
    }
  
    /* Alternar Mostrar / Ocultar Menu */
    #menuitems { display: none; }
    #menunav input:checked ~ #menuitems { display: block; }
  }
  /* NÃO MEXER */
  html, body {
    padding: 0;
    margin: 0;
    font-family: arial, sans-serif;
  }

/* Informações */
.caracteristicas {
  background-color: var(--primeira-cor);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}
.caracteristicas  h3, .cardapio_titulo {
  font-size: 2rem;
  margin-bottom: 35px;
  color: var(--segunda-cor);
  text-align: center;
  font-weight: bold;
}
.caracteristicas  p {
  max-width: 800px;
  margin-bottom: 35px;
  color: var(--cor-menu);
  text-align: center;
}
.caracteristicas  hr {
  width: 200px;
  height: 2px;
  background-color: var(--segunda-cor);
  margin-bottom: 70px;
  border: none;
}
.caracteristicas .grid {
  width: 100%;
  display: flex;
  list-style:none;
}
.caracteristicas .grid li {
  padding: 0 30px;
  text-align: center;
  margin: auto;
}
.caracteristicas .grid li i {
  color: var(--segunda-cor);
  font-size: 50px;
  margin-bottom: 30px;
}
.caracteristicas .grid li h4 {
  font-size: 1.5rem;
  color: var(--segunda-cor);
  margin-bottom: 30px;
}
.caracteristicas .grid li p {
  color: var(--cor-menu);
}
@media (max-width: 850px) {
  .caracteristicas .grid {
      flex-direction: column;
  }
}
/* SOBRE */
.sobre { color: var(--primeira-cor); background: var(--segunda-cor); padding: -90% 4%;}
.sobre img {margin-right: 3em;}
.sobre h3, h3{ text-align: center; font-weight: bold; }
h3 { color: var(--segunda-cor); }

/* CARDAPIO */
.cardapio {
  
  width: 100%;
  float: left;
  text-align: center;
  padding: 3% 4%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-wrapper {
  width: calc(33.33% - 20px); /* Distribuir em 3 colunas com margens entre elas */
  margin-bottom: 100px;
  box-sizing: border-box;
}

.cards {
  margin-top: 30px;
  width: 23%;
  background-color: var(--quarta-cor);
  text-align: left;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  transition: transform 0.5s;
}

.cards:hover {
  transform: translateY(-5px); /* Efeito de levantamento ao passar o mouse */
}

.cards img {
  border-radius: 50px 50px 0 0;
  max-width: 100%;
  height: auto;
}

.inner {
  padding: 7%;
}

.inner a,
.inner a:link {
  font-size: 1.5em;
  color: var(--segunda-cor);
  text-decoration: none;
}

.inner h4 {
  font-size: 1em;
  color: var(--primeira-cor);
  margin-top: 2%;
}

.inner p {
  margin-top: 6%;
  color: var(--primeira-cor);
  line-height: 1.5em;
}

.banner {
  background: var(--segunda-cor);
}

@media screen and (min-width: 768px) {
  .card-wrapper {
    width: calc(50% - 20px); /* Distribuir em 2 colunas com margens entre elas */
  }
}

@media screen and (min-width: 960px) {
  .card-wrapper {
    width: calc(33.33% - 20px); /* Distribuir em 3 colunas com margens entre elas */
  }
}

/* Estilo para o formulário de divulgação */
.form-table {
  width: 100%;
  max-width: 500px; /* Defina a largura máxima do formulário */
  margin: 0 auto; /* Centraliza o formulário na página */
  border-collapse: collapse;
  border-radius: 10px;
  background-color:var(--primeira-cor) /* Cor de fundo */
  padding 20px;
  box-shadow: 0 0 10px rgba(12, 5, 5, 0.1); /* Sombra suave */
}

.form-table tr {
  border-bottom: var(--segunda-cor)
}

.form-table td {
  padding: 10px;
}

/* Estilo para os campos de entrada de texto */
.form-table input[type="text"],
.form-table input[type="email"],
.form-table textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Estilo para o botão de envio */
.form-table button[type="submit"] {
  color: var(#ccc); /* Cor do texto do botão */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Estilo para o botão de envio ao passar o mouse */
.form-table button[type="submit"]:hover {
  background-color: var(--terceira-cor)/* Cor de fundo do botão ao passar o mouse */
}

/* Estilo para os cabeçalhos das colunas */
.form-table td strong {
  font-weight: bold;
}

/* Estilo para a descrição da empresa (área de texto) */
.form-table textarea {
  resize: vertical; /* Permite redimensionar verticalmente apenas */
  min-height: 100px; /* Altura mínima da área de texto */
}

/* Estilo para alinhar o botão de envio no centro */
.form-table td[colspan="2"] {
  text-align: center;
}
.mensagem {
  color: green; /* Define a cor do texto como verde */
  text-align: center; /* Centraliza o texto na tela */
  margin-top: 50vh; /* Move o texto para o meio verticalmente */
  transform: translateY(-50%); /* Corrige o posicionamento vertical */
}




/* Estilos para o formulário */
#comments {
  margin-top: 20px;
}

.comment {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.comment h4 {
  font-weight: bold;
  margin-bottom: 5px;
}

.comment p {
  margin: 0;
}


.comment .rating {
  font-weight: bold;
  color: #007bff;
}


/* Estilos para a estrela */

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.star-rating input[type="radio"] {
  display: none;
}

.star-rating label {
  font-size: 24px;
  color: #ddd;
  cursor: pointer;
  transition: color 0.3s;
}

.star-rating input[type="radio"]:checked + label {
  color: #ffdd00;
}



/* Estilos para o quadro de responder o formulario de comentarios */
input[type="text"],
textarea {
  width: 20%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #971414;
  border-radius: 10px;
 
}


/* Estilos para o botão flutuante em forma de bolinha */
#botao-flutuante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}

#botao-flutuante button {
  background-color:var(--terceira-cor);
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 24px;
  border: none;
  cursor: pointer;
}

#botao-flutuante button:hover {
  background-color: var(--segunda-cor);
}

/* Estilos para o local de inserção da pergunta (oculto inicialmente) */
#formulario {
  position: fixed;
  bottom: 80px;
  right: 20px;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 15px;
  display: none; /* Oculto inicialmente */
}

#formulario textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #d61818;
  border-radius: 5px;
}

#formulario button {
  background-color: var(--terceira-cor);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#formulario button:hover {
  background-color:var(--segunda-cor);
}

#formulario h3{
  font: 2em italic;
}


/* Estilos para o formulário de pesquisa */
form {
  text-align: center; /* Centraliza o conteúdo do formulário horizontalmente */
  margin-top: 50px; /* Adiciona um espaçamento superior para centralizá-lo verticalmente */
}

/* Estilos para o campo de entrada (input) */
input#pesquisa {
  width: 350px; /* Define a largura do campo de entrada */
  padding: 10px; /* Adiciona espaço interno ao campo de entrada */
  font-size: 16px; /* Define o tamanho da fonte */
  border: 2px solid #ccc; /* Adiciona uma borda */
  border-radius: 8px; /* Adiciona bordas arredondadas */
}

/* Estilos para o botão */
button#clicar {
  padding: 10px 20px; /* Adiciona espaço interno ao botão */
  font-size: 16px; /* Define o tamanho da fonte do botão */
  background-color:var(--segunda-cor); /* Define a cor de fundo do botão */
  color: #fff; /* Define a cor do texto do botão */
  border: none; /* Remove a borda do botão */
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
  cursor: pointer; /* Altera o cursor ao passar sobre o botão */
}

/* muda a cor botão ao passar o mouse sobre ele */
button#clicar:hover {
  background-color:var(--terceira-cor); /* Altera a cor de fundo ao passar o mouse sobre o botão */
}

/* Estilo para a seção de Horário de Funcionamento */
.horario {
  padding: 20px;
  margin: 20px;
  text-align: center;
}

/* Estilo para o título "Horário de Funcionamento" */
.horario h4 {
  font-size: 24px;
  color: var(--segunda-cor);
 
}

/* Estilo para os dias da semana e horários */
.horario p {
  font-size: 18px;
  color:var(--cor-menu);
  margin: 5px 0;
}

/* Estilo para o título "Dia de Folga" */
.horario h4:last-child {
  margin-top: 20px;
}

/* Estilo para o parágrafo abaixo do título "Dia de Folga" */
.horario p:last-child {
  font-style: italic;
  color: var();
}




/* Rodapé */
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--quarta-cor);
  padding: 50px 0;
  align-items: center;
  color: var(--primeira-cor);
}
footer table tr td { width: 15em;}
